<% provide(:title, 'Word Clouds') %>

<h1>Word Clouds</h1>


<%= form_tag view_samples_path, method: 'get', remote: true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil, id: "search-button" %>
  </p>
<% end %>

<div id="word-cloud" style="width: 550px; height: 350px;"></div>
